body {
    background-color: #f5f5f5; 
    padding-top:0px;
    margin: 0px;
}

.header {
    width: 100%;
    height: 120px;
    background-color: #ffffff;
    margin: 0px 0px 15px 0px;
    border-width: 0px 0px 1px 0px;
    border-color: #a8a8a8;
    border-style: solid;
    box-shadow: 0 4px 2px -2px #c7c7c7;
    text-align: center;
}

h1 {
    text-align: center;
    margin: 0;
}

.brand {
    display: inline-block;
}

.brand__part1 {
    display: inline-block;
    padding-top: 27px;
    font-family: 'Roboto', black, crisp;
    font-size: 35.58pt;
    color: #656565;
}

.brand__part2 {
    display: inline-block;
    padding-top: 29px;
    font-family: "Morning Star", regular;
    font-size: 30.15pt;
    color: #00b9e6;
}

#wrap {
    width: 995px;
    margin:auto;
}

.clear {
    clear:both;
}

.col {
    float:left;
    width:300px;
    margin-right:15px;
    border-top: 0px;
}

.col:last-child {
    margin-right:0px;
}            

.col-header {
    width:100%;
    height:140px;
    padding-top:40px;
    padding:40px 25px 0px 25px;
    box-sizing:border-box;
    border-radius:5px 5px 0px 0px;
    border: 1px;
}

.col-container {
    height: 375px;
    background:#fff;
    border: solid #dcdcdc; 
    border-width: 1px 1px 0px 1px;
    padding: 34px 16px 0px 0px;
    overflow-y: auto;
    overflow-x: hidden;
}  
.container::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-track {
    background: #ffffff;

}

::-webkit-scrollbar-thumb {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-color: #ffffff;
}

/* Individual scrollbars */
.col-container.doc::-webkit-scrollbar-thumb {
    background-color: #db4437;
}
.col-container.lin::-webkit-scrollbar-thumb {
    background-color: #00b9e6;
}

::-webkit-scrollbar-track {
    background: rgba(255,255,255,.5);
}

.clearfix {
    overflow: both;
}

.col-s10 {
    height: 50px    
}

.row {
    margin: 9px 0px 9px 0px;
}

.media-item {
    display: block;
    height: 50px;
    border: 0px;
    padding-right: 55px;  
}

.media-item__cbox {
    display: inline-block;
    float: left;
    padding-left: 15px;
    width: 16px;
    height: 16px;   
}

.filled-in {    
    display: inline-block;
    width: 17px;
    height: 17px;
}


.filled-in + label {
  cursor: pointer;
}

/* Далее идет оформление чекбокса в современных браузерах, а также IE9 и выше.
Благодаря тому, что старые браузеры не поддерживают селекторы :not и :checked,
в них все нижеследующие стили не сработают. */

/* Прячем оригинальный чекбокс. */
.checkbox__doc:not(checked) {
  position: absolute;
  opacity: 0;
}

.checkbox__lin:not(checked) {
  position: absolute;
  opacity: 0;
}

.checkbox__lab:not(checked) {
  position: absolute;
  opacity: 0;
}

.checkbox__doc:not(checked) + label {
  position: relative; /* будем позиционировать псевдочекбокс относительно label */
  padding: 0 0 0 0px; /* оставляем слева от label место под псевдочекбокс */
}

.checkbox__lin:not(checked) + label {
  position: relative; /* будем позиционировать псевдочекбокс относительно label */
  padding: 0 0 0 0px; /* оставляем слева от label место под псевдочекбокс */
}

.checkbox__lab:not(checked) + label {
  position: relative; /* будем позиционировать псевдочекбокс относительно label */
  padding: 0 0 0 0px; /* оставляем слева от label место под псевдочекбокс */
}
/* Оформление первой части чекбокса в выключенном состоянии (фон). */
.checkbox__doc:not(checked) + label:before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background: url(img/check3.png) 0px 0px;
}

.checkbox__lin:not(checked) + label:before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background: url(img/check3.png) 0px 0px;
}

.checkbox__lab:not(checked) + label:before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background: url(img/check3.png) 0px 0px;
}
/* Оформление второй части чекбокса в выключенном состоянии (переключатель). */
.checkbox__doc:not(checked) + label:after {
    content: ''; 
    position: absolute;
}

.checkbox__lin:not(checked) + label:after {
    content: ''; 
    position: absolute;
}

.checkbox__lab:not(checked) + label:after {
    content: ''; 
    position: absolute;
}

/* Меняем фон чекбокса, когда он включен. */
.checkbox__doc:checked + label:before {
    content: ''; 
    position: absolute;
    background-position:-19px 0px;
}

.checkbox__lin:checked + label:before {
    content: ''; 
    position: absolute;
    background-position:-38px 0px;
}

.checkbox__lab:checked + label:before {
    content: ''; 
    position: absolute;
    background-position:-58px 0px;
}
/* Сдвигаем переключатель чекбокса, когда он включен. */


.media-item__title {
    font-family: Roboto;
    font-size: 13pt;
    color: #8b8b8b;
    padding-left: 55px;
    margin: 0px;
}

.media-item__content {
    padding-left: 55px;
    font-family: roboto, medium;
    font-size: 11pt;
    color: #b2b2b2;
}

a {
    line-height: 0px;
    font-family: Roboto;
    font-size: 14pt;
    padding-top: 0px;        
}

.button__doc {
    color: #db4437;;
}

.button__lin {
    color: #00b9e6;;
}

.button__lab {
    color: #0f9d58;;
}


.col-footer { 
    border-top: 1px solid #dcdcdc;
    position: relative;
    bottom: 0;
    height: 45px;
    padding: 25px 25px 0px 0px;
    text-align: right;
    border-radius: 0px 0px 5px 5px;
    border: 1px solid #dcdcdc;
    background-color: #ffffff;
}

a{
    
}    

.col.docs .col-header {
    background:#db4437;
}

.col.links .col-header {
    background:#00b9e6;
}

.col.lab .col-header {
    background:#0f9d58;
}

.col-header .col-caption {
    margin-top:30px;
    color:#fff;
    font-size:18px;
    font-family:'Roboto', sans-serif;
    font-weight:500;
}

.col-icon {
    width:73px;
    height:36px;
    margin:auto;
    background:url(img/icons.png);
}

.col.links .col-icon {
    background-position:-73px 0px;

}

.col.lab .col-icon {
    background-position:-147px 0px;
}

.col.docs .col-foorer {
    font-color: #db4437;
}

.col.links .col-footer {
    font-color:#00b9e6;
}

.col.lab .col-footer {
    font-color:#0f9d58;
}
